.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
docs/
.eslintrc.*
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md
esbuild.js
out/**
.vscode-test.mjs
pnpm-lock.yaml
scripts/**
.husky/**
.github/**
.prettierignore
pnpm-workspace.yaml
